[user]
	name = Vince Levey
	email = vincel@vincel.org
#	signingKey = key::ssh-ed25519 AAAA... email.addr

#[http]
#	proxy = proxy-server:8080
#	sslBackend = schannel

[core]
	autocrlf = true
	editor = code --wait

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    last = log --color --date=short --pretty=format:'%Cred%h %Cgreen%ad %Creset%s %C(bold blue)<%an>%Creset' -10
	st = status
	co = checkout
	br = branch
        sync = pull --rebase

[push]
	default = current
	autoSetupRemote = true

[pull]
	ff = only

[rebase]
        autoStash = true
        autoSquash = true

[gpg]
	format = ssh
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
