[user]
	name = Vince Levey
	email = vincel@vincel.org
#	signingKey = key::ssh-ed25519 AAAA... email.addr

#[http]
#	proxy = proxy-server:8080
#	sslBackend = schannel

[core]
	autocrlf = true
	editor = code --wait

[credential]
	helper = osxkeychain

[alias]
	br = branch
	co = checkout
	last = log --color --date=short --pretty=format:'%Cred%h %Cgreen%ad %Creset%s %C(bold blue)<%an>%Creset' -10
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	sync = pull --rebase

[push]
	autoSetupRemote = true
	default = current

[pull]
	ff = only

[rebase]
	autoSquash = true
	autoStash = true

[gpg]
	format = ssh

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[difftool]
	prompt = false

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED
